<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Slider</title>
</head>

<body>
    <div class="container">
        <div class="slider" id="slider">
            <ul class="slider__list-slides">
                <li class="slider__slide">
                    <a class="slider__link" href="#">
                        <figure class="slider__wrap-img">
                            <img class="slider__img" src="https://i.picsum.photos/id/767/800/500.jpg" alt="alt-img">
                            <figcaption class="slider__caption">Caption slide 1</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="slider__slide">
                    <a class="slider__link" href="#">
                        <figure class="slider__wrap-img">
                            <img class="slider__img" src="https://i.picsum.photos/id/979/800/500.jpg" alt="alt-img">
                            <figcaption class="slider__caption">Caption slide 2</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="slider__slide">
                    <a class="slider__link" href="#">
                        <figure class="slider__wrap-img">
                            <img class="slider__img" src="https://i.picsum.photos/id/496/800/500.jpg" alt="alt-img">
                            <figcaption class="slider__caption">Caption slide 3</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="slider__slide">
                    <a class="slider__link" href="#">
                        <figure class="slider__wrap-img">
                            <img class="slider__img" src="https://i.picsum.photos/id/757/800/500.jpg" alt="alt-img">
                            <figcaption class="slider__caption">Caption slide 4</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="slider__slide">
                    <a class="slider__link" href="#">
                        <figure class="slider__wrap-img">
                            <img class="slider__img" src="https://i.picsum.photos/id/165/800/500.jpg" alt="alt-img">
                            <figcaption class="slider__caption">Caption slide 5</figcaption>
                        </figure>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>